[submodule "dependencies/cosmos-sdk"]
	path = dependencies/cosmos-sdk
	url = https://github.com/InjectiveLabs/cosmos-sdk.git
	branch = v0.50.13-evm-comet1-inj.3
[submodule "dependencies/injective-core"]
	path = dependencies/injective-core
	url = https://github.com/InjectiveLabs/injective-core.git
	branch = v1.16.3
[submodule "dependencies/wasmd"]
	path = dependencies/wasmd
	url = https://github.com/InjectiveLabs/wasmd.git
	branch = v0.53.3-evm-comet1-inj
[submodule "dependencies/cometbft"]
	path = dependencies/cometbft
	url = https://github.com/cometbft/cometbft
	branch = v1.0.1-inj.2
