[submodule "dependencies/cosmos-sdk"]
	path = dependencies/cosmos-sdk
	url = https://github.com/InjectiveLabs/cosmos-sdk.git
	branch = v0.50.9-inj-2
[submodule "dependencies/injective-core"]
	path = dependencies/injective-core
	url = https://github.com/InjectiveLabs/injective-core.git
	branch = v1.14.0
[submodule "dependencies/wasmd"]
	path = dependencies/wasmd
	url = https://github.com/InjectiveLabs/wasmd.git
	branch = v0.53.2-inj-1
